:root {
  --bgc: #061126;
  --title_color: #97130e;
  --text_color: #f9e65a;
  --hover_color: #e96709;
  --add_color: #3057b1;
}

html {
  scroll-behavior: smooth;
  color: var(--text_color);
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background-color: var(--bgc);
  font-size: 24px;
  line-height: 30px;
}

body.lock {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  line-height: 1.3em;
  color: var(--title_color);
  font-weight: bold;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--title_color),
    0 0 82px var(--title_color),
    0 0 92px var(--title_color),
    0 0 102px var(--title_color),
    0 0 151px var(--title_color);
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5em;
}

h2 {
  font-size: 1.5em;
  position: relative;
}

h3 {
  font-size: 1.2em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header styles */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #061126de;
  z-index: 2;
}

.header__menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease 0s;
  z-index: 3;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__link {
  margin: 0 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  -webkit-box-shadow: 14px -9px 16px -4px rgba(233, 103, 9, 0.36);
  -moz-box-shadow: 14px -9px 16px -4px rgba(233, 103, 9, 0.36);
  box-shadow: 14px -9px 16px -4px rgba(233, 103, 9, 0.36);
  color: var(--hover_color);
}


.logo {
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

.mini-logo {
  display: none;
}


@media screen and (max-width: 992px) {
  .header__link {
    margin: 0 5px;
    font-size: 0.8em;
  }
}


@media screen and (max-width: 768px) {
  .mini-logo {
    width: 60px;
    height: 60px;
    right: 0;
    display: block;
    margin: 10px;
    position: relative;
    z-index: 3;
  }

  .logo {
    margin: 0 auto;
  }

  .header__burger {
    display: block;
    position: relative;
    margin: -50px 20px 0px auto;
    width: 30px;
    height: 20px;
    z-index: 10;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: var(--text_color);
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: var(--text_color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    background-color: var(--hover_color);
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    background-color: var(--hover_color);
  }

  .header__burger.active span {
    transform: scale(0)
  }

  .header__menu {
    position: fixed;
    overflow: auto;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bgc);
    padding-top: 70px;
    transition: all 0.3s ease 0s;
    z-index: 10;
    align-items: flex-start;
    font-size: 0.8em;
    line-height: 0.8em;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    flex-direction: column;
  }

  .header__list li {
    margin-bottom: 20px;
  }

  ._right>.header__list {
    margin: 0 30px 0 0;
    text-align: start;
  }

  ._left>.header__list {
    text-align: end;
    margin-left: 30px;
  }

  .header:before {
    height: 60px;
  }
}

@media screen and (max-width: 470px) {
  .header__menu.active {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end
  }

  ._left>.header__list {
    text-align: start;
    margin: 0 30px 0 0;
  }

  ._right>.header__list {
    margin: -20px 46px 0 0;
    text-align: start;
  }

  .logo {
    margin: -80px auto 0 20px;
  }
}


/* preview styles*/
.preview {
  background-image: url(img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.preview__bg {
  background: rgba(0, 0, 0, 0.6);

}

.preview__bg>.container {
  display: flex;
  justify-content: space-between;
}

.preview__left {
  width: 60%;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview__title {
  max-width: 450px;
}

.preview__text {
  margin-top: 40px;
  max-width: 480px;
}

.preview__contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 40px 190px 80px 0;
}

.messangers {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.phones {
  display: flex;
  flex-direction: column;
  align-items: end;
}

._icons {
  padding: 10px 0;
  transition: all 0.3s ease 0s;
}

._icons img {
  width: 30px;
  height: 30px;
  margin: 0px 0 -7px 0;
}

._icons:hover {
  -webkit-box-shadow: -10px 10px 18px -4px rgba(233, 103, 9, 0.29);
  -moz-box-shadow: -10px 10px 18px -4px rgba(233, 103, 9, 0.29);
  box-shadow: -10px 10px 18px -4px rgba(233, 103, 9, 0.29);
  color: var(--hover_color);
}


.preview__right {
  margin-top: 240px;
}


.preview__form .user-box {
  position: relative;
}

.preview__form .user-box input {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  color: var(--text_color);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--hover_color);
  border-left: 1px solid var(--hover_color);
  outline: none;
  background: transparent;
}

.preview__form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  color: var(--text_color);
  pointer-events: none;
  transition: .5s;
}

.preview__form .user-box input:focus~label,
.preview__form .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: var(--hover_color);
  font-size: 12px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--text_color);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.btn:hover {
  background: var(--hover_color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--hover_color),
    0 0 25px var(--hover_color),
    0 0 50px var(--hover_color),
    0 0 100px var(--hover_color);
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--hover_color));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--hover_color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--hover_color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--hover_color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 768px) {
  .preview__bg>.container {
    flex-direction: column;
  }

  .preview__left {
    width: 90%;
    margin-top: 70px;
    text-align: center;
  }

  .preview__title {
    max-width: none;
  }

  .preview__text {
    margin: 20px auto 0;
  }

  .preview__contacts {
    align-items: center;
    margin: 20px auto;
  }

  .preview__right {
    margin: 0px auto 20px;
    width: 90%;
  }

  .btn {
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .preview__title {
    font-size: 1.2em;
  }

  .preview__text,
  .preview__contacts {
    font-size: 0.8em;
  }
}


/*about styles*/

.about {
  margin-top: 40px;
  position: relative;
}

.about__title {
  text-align: center;
}

.about__content {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.about__item {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 350px;
  text-align: center;
  position: relative;
  background-color: var(--add_color);
  border-radius: 10px;
}


.item__title {
  font-size: 34px;
  line-height: 56px;
  margin: auto 0;
  z-index: 1;
  position: relative;
  backface-visibility: hidden;
  transition: transform 1s cubic-bezier(.2, .85, .4, 1.275);
}

.item__text {
  z-index: 0;
  border-radius: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  padding: 20px 10px 0 10px;
  backface-visibility: hidden;
  background-color: var(--hover_color);
  color: #ffffff;
  transform: rotateY(-180deg);
  transition: transform 1s cubic-bezier(.2, .85, .4, 1.275);
}

.about__item:hover .item__text {
  transform: rotateY(0deg);
  z-index: 2;
  box-shadow: 0 0 5px var(--hover_color),
    0 0 25px var(--hover_color);
}

.about__item:hover .item__title {
  transform: rotateY(180deg);
  z-index: -1;
}

.slider__body {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sliders {
  max-width: 800px;
  width: 100%;
  position: relative;
  -moz-box-shadow: 10px -10px 14px var(--hover_color);
  -webkit-box-shadow: 10px -10px 14px var(--hover_color);
  box-shadow: 10px -10px 14px var(--hover_color);
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
  height: 100%;
}


.sliders>button {
  position: absolute;
  border: none;
  left: 0;
  top: 25%;
  height: 48%;
  width: 50px;
  background-color: gray;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease 0s;
}

.sliders>button:hover {
  opacity: 0.9;

}

.sliders>.slide__prev:hover::after,
.sliders>.slide__prev:hover::before,
.sliders>.slide__next:hover::after,
.sliders>.slide__next:hover::before {
  background-color: var(--hover_color);
  -moz-box-shadow: 0px 0px 14px var(--hover_color);
  -webkit-box-shadow: 0px 0px 14px var(--hover_color);
  box-shadow: 0px 0px 14px var(--hover_color);
}

.sliders>.slide__prev::after,
.sliders>.slide__next::after {
  content: '';
  position: absolute;
  left: -40px;
  top: 191px;
  width: 135px;
  height: 3px;
  background-color: var(--text_color);
  z-index: 10;
  transform: rotate(72deg);
}

.sliders>.slide__next::after {
  left: -43px;
  top: 65px;
}

.sliders>.slide__prev::before,
.sliders>.slide__next::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 65px;
  width: 135px;
  height: 3px;
  background-color: var(--text_color);
  z-index: 10;
  transform: rotate(108deg);
}

.sliders>.slide__next::before {
  left: -43px;
  top: 191px;
}

.sliders>.slide__next {
  left: auto;
  right: 0;
}

.slider__body>.dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.slider__body>.dots>.dot.active {
  background-color: var(--hover_color);
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px var(--hover_color), 0 0 82px var(--hover_color), 0 0 92px var(--hover_color), 0 0 102px var(--hover_color), 0 0 151px var(--hover_color);
}

.slider__body>.dots span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text_color);
  margin-right: 10px;
  cursor: pointer;
}

.dots span:last-child {
  margin-right: 0;
}

@media screen and (max-width: 992px) {
  .about__content {
    flex-direction: column;
  }

  .about__item {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 300px;
  }

  .sliders {
    max-width: 600px;
  }

  .sliders>.slide__prev::after,
  .sliders>.slide__next::after {
    left: -20px;
    top: 142px;
    width: 100px;
  }

  .sliders>.slide__next::after {
    left: -30px;
    top: 48px;
  }

  .sliders>.slide__prev::before,
  .sliders>.slide__next::before {
    left: -20px;
    top: 48px;
    width: 100px;
  }

  .sliders>.slide__next::before {
    left: -30px;
    top: 142px;
  }
}

@media screen and (max-width: 620px) {
  .sliders {
    max-width: 440px;
  }

  .sliders>button {
    width: 35px;
  }

  .sliders>.slide__prev::after,
  .sliders>.slide__next::after {
    top: 100px;
    width: 70px;
  }

  .sliders>.slide__next::after {
    left: -20px;
    top: 35px;
  }

  .sliders>.slide__prev::before,
  .sliders>.slide__next::before {
    top: 35px;
    width: 70px;
  }

  .sliders>.slide__next::before {
    left: -20px;
    top: 100px;
  }
}



@media screen and (max-width: 500px) {
  .about {
    margin-top: 20px;
  }

  .about__content {
    margin-top: 20px;
  }

  .about__title {
    font-size: 1.2em;
  }

  .item__title {
    font-size: 24px;
    line-height: 32px;
  }

  .item__text {
    font-size: 0.6em;
  }

  .slider__body {
    margin-top: 20px;
  }

  .sliders {
    max-width: 290px;
  }

  .sliders>button {
    width: 25px;
  }

  .sliders>.slide__prev::after,
  .sliders>.slide__next::after {
    top: 70px;
    left: -10px;
    width: 50px;
  }

  .sliders>.slide__next::after {
    left: -15px;
    top: 25px;
  }

  .sliders>.slide__prev::before,
  .sliders>.slide__next::before {
    top: 25px;
    left: -10px;
    width: 50px;
  }

  .sliders>.slide__next::before {
    left: -15px;
    top: 70px;
  }

  .dots{
    margin-top: 5px;
  }

  .slider__body>.dots span {
    width: 10px;
    height: 10px;

  }
}

/*courses styles*/

.courses {
  margin-top: 40px;
}

.courses__title {
  text-align: center;
}

.courses__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}

.courses__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 44%;
  -moz-box-shadow: 0px 0px 14px var(--hover_color);
  -webkit-box-shadow: 0px 0px 14px var(--hover_color);
  box-shadow: 0px 0px 14px var(--hover_color);
  padding: 15px;
  border-radius: 10px;
}

.card__title {
  text-align: center;
}

.card__description {
  width: 90%;
  margin: 40px auto;
}

.card__price {
  text-align: center;
  font-size: 45px;
  line-height: 52px;
  font-weight: bold;
  color: var(--title_color);
  margin-bottom: 20px;
}

.card__btn {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .courses__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .courses__card {
    width: 80%;
  }

  .courses__card:first-of-type {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .courses {
    margin-top: 20px;
  }

  .courses__title {
    font-size: 1.2em;
  }

  .card__title {
    font-size: 0.8em;
  }

  .card__description {
    font-size: 0.6em;
    margin: 20px auto;
  }

  .card__price {
    margin-bottom: 0;
  }

  .card__btn {
    margin-bottom: 10px;
  }
}

/*docs styles*/

.docs {
  margin-top: 40px;
}

.docs__title {
  text-align: center;
}

.docs__subtitle {
  margin: 40px 0 0 40px;
}

.docs__content {
  margin-top: 40px;
}

.docs__item {
  display: flex;
  margin: 0 0 40px 80px;
  position: relative;
  min-height: 70px;
}

.docs__text {
  position: relative;
  flex: 1 0 auto;
  width: 60%;
  padding: 0 0 0 10px;
  border-bottom: 1px solid var(--hover_color);
  border-left: 1px solid var(--hover_color);
}

.docs__text.center {
  padding: 15px 0 0 10px;
}

.docs__text::before {
  content: '';
  position: absolute;
  left: -50px;
  background-color: var(--hover_color);
  border-radius: 50%;
  top: 20%;
  width: 40px;
  height: 40px;
  box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px var(--hover_color),
    0 0 82px var(--hover_color),
    0 0 92px var(--hover_color),
    0 0 102px var(--hover_color),
    0 0 151px var(--hover_color);
}

.docs__void {
  width: 30%;
}

@media screen and (max-width: 992px) {

  .docs__text {
    width: 81%;
  }
}

@media screen and (max-width: 768px) {
  .docs__text {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .docs {
    margin-top: 20px;
  }

  .docs__title {
    font-size: 1.2em;
  }

  .docs__subtitle {
    font-size: 0.8em;
    margin: 20px 0 0 20px;
  }

  .docs__content {
    margin-top: 20px;
  }

  .docs__item {
    min-height: 50px;
    margin: 0 0 20px 40px;
  }

  .docs__text {
    font-size: 0.6em;
    line-height: 1.4em;
  }

  .docs__text::before {
    left: -35px;
    width: 20px;
    height: 20px;
  }
}

/*kod styles*/

.kod {
  margin-top: 40px;

}

.kod__title {
  text-align: center;
}

.kod__content {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.kod__item {
  -moz-box-shadow: 0px 0px 14px var(--add_color);
  -webkit-box-shadow: 0px 0px 14px var(--add_color);
  box-shadow: 0px 0px 14px var(--add_color);
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 10px;
  width: 30%;
  background-color: var(--add_color);
  text-align: center;
}

.kod__img {
  width: 120px;
  height: 120px;
  margin: 40px 0;
  box-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 42px var(--hover_color),
    0 0 82px var(--hover_color),
    0 0 92px var(--hover_color);
  border-radius: 10px;
  padding: 5px;
}


@media screen and (max-width: 992px) {

  .kod__item {
    width: 45%;
  }
}



@media screen and (max-width: 500px) {
  .kod {
    margin-top: 20px;
  }

  .kod__title {
    font-size: 1.2em;
  }

  .kod__content {
    margin: 20px 0;
    justify-content: center;
  }

  .kod__item {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .kod__img {
    width: 60px;
    height: 60px;
    margin: 20px 0;
    box-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 42px var(--hover_color),
      0 0 82px var(--hover_color),
      0 0 92px var(--hover_color);
  }

  .kod__text {
    font-size: 0.8em;
  }
}

/*qustions styles*/
.questions {
  margin-top: 40px;
}

.questions__title {
  text-align: center;
}

.questions__wrapper {
  margin-top: 40px;
}


.questions__item {
  margin-bottom: 40px;
}

.questions__text {
  width: 80%;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid var(--hover_color);
  border-radius: 10px;
  background-color: var(--hover_color);
  color: #ffffff;
}

.questions__btn {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  width: 90%;
  color: var(--text_color);
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  margin-left: 20px;
}

.questions__btn.odd {
  margin-left: 60px;
}

.questions__btn:before,
.questions__btn:after {
  content: '';
  width: 20px;
  height: 1px;
  background-color: var(--text_color);
  position: absolute;
  right: 10px;
  top: 25px;
  transition: transform 0.3s ease 0s;
}

.questions__btn:after {
  transform: rotate(-90deg);
}

.questions__btn._active:after {
  transform: rotate(0deg);
}

.questions__btn:hover {
  background: var(--hover_color);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--hover_color),
    0 0 10px var(--hover_color),
    0 0 20px var(--hover_color),
    0 0 40px var(--hover_color);
}

.questions__btn span {
  position: absolute;
  display: block;
}

.questions__btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--hover_color));
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.questions__btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--hover_color));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.questions__btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--hover_color));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.questions__btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--hover_color));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

@media screen and (max-width: 768px) {
  .questions {
    margin-top: 20px;
  }

  .questions__title {
    font-size: 1.2em;
  }

  .questions__wrapper {
    margin-top: 20px;
  }

  .questions__item {
    margin-bottom: 20px;
  }

  .questions__btn {
    width: 100%;
    font-size: 0.6em;
    margin: 0 5px;
  }

  .questions__text {
    font-size: 0.6em;
  }

  .questions__btn.odd {
    margin: 0 5px;
  }
}

@media screen and (max-width: 500px) {
  .questions__text {
    width: 90%;
    padding: 5px;
  }
}

/*footer styles*/

.footer {
  margin-top: 40px;
}

.footer__title {
  text-align: center;
}

.footer>.container>.preview__contacts {
  margin: 40px 0;
  flex-direction: row;
  justify-content: space-between;
}

.email {
  align-self: center;
  transition: all 0.3s ease 0s;
}

.email:hover {
  -webkit-box-shadow: -10px 10px 18px -4px rgba(233, 103, 9, 0.29);
  -moz-box-shadow: -10px 10px 18px -4px rgba(233, 103, 9, 0.29);
  box-shadow: -10px 10px 18px -4px rgba(233, 103, 9, 0.29);
  color: var(--hover_color);
}

.footer__copyright {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.footer__copyright a {
  width: 30px;
  align-items: center;
  height: 30px;
}

@media screen and (max-width: 760px) {
  .footer {
    margin-top: 20px;
  }

  .footer>.container>.preview__contacts {
    margin: 20px 0;
    flex-direction: column;
  }
}